main.donate {
  --color-dark: #000000dd;
  --color-light: #ffffffdd;
  --color-da: #082b76;
  color: var(--color-da);
  background-color: white;
  padding-bottom: 1px;
}
@media only screen and (min-width: 1024px) {
  main.donate {
    padding-bottom: 4rem;
  }
}

main.donate > .bg {
  content: ' ';
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  max-width: 1024px;
  height: auto;
  aspect-ratio: 16/6;
  background-image: url(/uploads/donate-soap-distribution-white.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  opacity: 0.25;
}

@media only screen and (min-width: 1024px) {
  main.donate > .bg {
    left: calc((100vw - 1024px) / 2);
    opacity: 1;
  }
}

main.donate .bg::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
}

main.donate > * {
  position: relative;
}

/* Header */

main.donate > header {
  padding: 2rem 2rem 0 2rem;
  max-width: 1024px;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  main.donate > header {
    margin-top: 12rem;
  }
}

main.donate > header h1 {
  font-weight: bold;
  font-size: 150%;
  text-shadow: 0 0 10px white;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  main.donate > header h1 {
    font-size: 200%;
  }
}

/* Progress */

main.donate section.progress {
  font-weight: 900;
  padding: 2rem 2rem 0 2rem;
}

@media only screen and (min-width: 600px) {
  main.donate section.progress {
    padding: 2rem;
    margin: 2rem auto;
    width: calc(100% - 4rem);
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1024px) {
  main.donate section.progress {
    font-size: 150%;
    padding: 2rem 4rem 4rem 4rem;
  }
}

main.donate section.progress ul {
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}

main.donate section.progress h1 {
  font-weight: normal;
}

main.donate section.progress .progressBar {
  margin: 1rem 0;
}

main.donate section.progress .conversionNote {
  text-transform: none;
  opacity: 0.5;
  font-size: 60%;
  text-align: right;
}

/** Progress bar **/
main.donate .progressBar {
  height: 25px;
  width: 100%;
  background-color: #d3d3d3;
  position: relative;
  overflow: hidden;
}

main.donate .progressBar .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background-color: var(--color-da);
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  transition: width 2s ease-in-out;
}

main.donate .progressBar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  transition: left 2s ease-in-out;
  padding-left: 1rem;
  font-size: 16px;
}
main.donate .progressBar.over75 span {
  margin-left: -4rem;
  color: white;
}

/** Fundraiser card **/
main.donate section.card {
  margin-top: 1px;
  height: 100%;
}
main.donate section.card div.prose {
  padding: 2rem;
}
@media only screen and (min-width: 600px) {
  main.donate section.card div.prose {
    padding: 1rem;
  }
}
main.donate section.card header {
  position: relative;
}
main.donate section.card header h1 {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 125%;
  text-shadow: var(--color-da) 1px 0px 2px, var(--color-da) 0px 1px 2px,
    var(--color-da) -1px 0px 2px, var(--color-da) 0px -1px 2px;
}

main.donate section.card header > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

main.donate section.card header {
  aspect-ratio: 3 / 2;
}

/** Fundraisers overview **/

@media only screen and (min-width: 600px) {
  main.donate article.fundraisers {
    margin: 2rem auto;
    width: calc(100% - 4rem);
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: auto;
  }
}

@media only screen and (min-width: 1024px) {
  main.donate article.fundraisers {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Fundraiser page **/

@media only screen and (min-width: 1024px) {
  main.donate article.fundraiser {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

main.donate article.fundraiser .prose {
  max-width: 100%;
}
main.donate article.fundraiser .prose img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  main.donate article.fundraiser {
    margin: 2rem auto;
    width: calc(100% - 4rem);
    max-width: 1024px;
  }
}

main.donate article.fundraiser .gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  grid-auto-rows: auto;
}

@media only screen and (min-width: 600px) {
  main.donate article.fundraiser .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  main.donate article.fundraiser .gallery {
    grid-row-gap: 2rem;
    min-width: 300px;
    margin-left: 2rem;
    grid-template-columns: 1fr;
  }
}

main.donate article.fundraiser .gallery .photo {
  position: relative;
  margin-top: 1px;
}

main.donate article.fundraiser .gallery .photo span {
  position: absolute;
  bottom: 0;
  left: 0;
  text-shadow: var(--color-da) 1px 0px 2px, var(--color-da) 0px 1px 2px,
    var(--color-da) -1px 0px 2px, var(--color-da) 0px -1px 2px;
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    var(--color-da) 100%
  );
  padding: 1rem;
  width: 100%;
}

main.donate article.fundraiser main {
  background-color: var(--color-light);
}
main.donate article.fundraiser main div.prose {
  padding: 2rem;
}

/** Ways to donate **/

main.donate section.ways-to-donate {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  main.donate section.ways-to-donate {
    flex-direction: row;
    margin: 2rem auto;
    width: calc(100% - 4rem);
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1024px) {
  main.donate section.ways-to-donate {
    padding: 3rem;
  }
}
