main.donate {
  --color-dark: #000000dd;
  --color-light: #ffffffdd;
  --color-content-dim: #e2e7f1;
  --color-da: #082b76;
  color: var(--color-da);
  background-color: white;
}

main.donate > .bg {
  content: ' ';
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  max-width: 1024px;
  height: auto;
  aspect-ratio: 16/6;
  background-image: url(/uploads/donate-soap-distribution-white.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  opacity: 0.25;
}

@media only screen and (min-width: 1024px) {
  main.donate > .bg {
    left: calc((100vw - 1024px) / 2);
    opacity: 1;
  }
}

main.donate > .bg::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
}

main.donate > * {
  position: relative;
}

/* Header */

main.donate > header {
  padding: 2rem 1rem 0 1rem;
  max-width: 1024px;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  main.donate > header {
    padding: 2rem 2rem 0 2rem;
    margin-top: 12rem;
  }
}

main.donate > header h1 {
  font-weight: bold;
  font-size: 150%;
  text-shadow: 0 0 10px white;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  main.donate > header h1 {
    font-size: 200%;
  }
}

/* Progress */
main.donate > p.progress {
  font-weight: 900;
  padding: 2rem;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  main.donate > p.progress {
    font-size: 150%;
    padding: 4rem;
  }
}

/** Fundraisers overview **/
main.donate .fundraisers {
  width: 100%;
  max-width: 1024px;
  margin: 2rem 0 0 0;
}
@media only screen and (min-width: 1024px) {
  main.donate .fundraisers {
    margin: 2rem auto 0 auto;
  }
}
main.donate .fundraisers .card {
  height: calc(100vw / 2 * 0.7);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
@media only screen and (min-width: 1024px) {
  main.donate .fundraisers .card {
    height: calc(1024px / 2 * 0.7);
  }
}
main.donate .fundraisers .card a.bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.donate .fundraisers .card a.bg .gatsby-image-wrapper {
  width: 100%;
}
main.donate .fundraisers .card a.title {
  line-height: 110%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  main.donate .fundraisers .card a.title {
    font-size: 150%;
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  main.donate .fundraisers .card a.title {
    font-size: 300%;
  }
}
main.donate .fundraisers .card a.title h2 {
  font-weight: bold;
  text-transform: uppercase;
}
main.donate .fundraisers .card:nth-child(2n + 2) a.title {
  justify-content: flex-end;
  text-align: right;
}
main.donate .fundraisers .card > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.donate .fundraisers .card:nth-child(2n + 1) > div:first-child {
  order: 1;
}

main.donate .fundraisers .card a.title .progress {
  font-size: 50%;
  width: 100%;
}
main.donate .fundraisers .card a.title h2 {
  width: 100%;
}

/** Breakout pages **/
main.donate.breakout .gallery {
  width: 100%;
  aspect-ratio: 3/2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.donate.breakout .gallery .gatsby-image-wrapper {
  width: 100%;
}

main.donate.breakout .progress {
  text-align: center;
  font-weight: 900;
  padding: 2rem;
  font-size: 200%;
}
